<div class="Contenedor">
    
    <p class="title">QUIÉNES SOMOS</p>
    
    <div>
        <img class="img-nosotros" style="max-width: 700px; margin: auto; display: flex;" src="assets/img/quienes_somos.jpg">
    </div>
    
    <br>

    <p class="subtitle">ACERCA DE NOSOTROS</p>

    <div class="linea1"></div>

    <span>
        GLOBAL TPA es una empresa especializada en brindar servicios de tecnología y asesoría, orientados a la venta, gestión, cobranzas y demás servicios de back office necesarios para la correcta administración de los seguros masivos.
    </span>
    <br><br>
    <span>
        Establecemos relaciones de colaboración con nuestros socios estratégicos que les permiten externalizar procesos con la finalidad de minimizar costos, maximizar eficiencias y rentabilizar sus negocios. 
    </span>
    <br><br>
    <span>
        Somos la empresa líder en tecnología Web para el mercado asegurador, con un servicio 7x24 que nos permite garantizar alta disponibilidad en el procesamiento de transacciones electrónicas de seguros en el mercado de seguros masivos. Nuestras plataformas Web están listas para enfrentar los desafíos comerciales y técnicos de nuestros clientes con soluciones diseñadas a la medida.
    </span>

    <div class="linea2"></div>


    <div class="row" fxLayoutGap="20px" style="background: white;">

        <div fxLayout="column" fxFlex="30%" fxLayoutGap="0px">
          <div fxLayout="row" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center">
              <img class="img-company" src="assets/img/logo_global.png">
          </div>
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutGap="0px">
          <div fxLayout="row" fxLayout="column" fxLayoutGap="0px">
            <h3>Global TPA S.A.</h3>
            <span>Dirección: Av. Paseo de la República 3195 Of. 703 San Isidro</span>
            <span>E-mail: comercial@globalrisk.pe</span>
            <span>Teléfonos: 421-6289 / 422-5405</span>
          </div>
        </div>

      </div>


</div>