<div md-dialog-title class="primaryColor">
  Políticas sobre Uso de Plataformas de Ventas y envío del SOAT Digital por medios electrónicos
</div>
<div md-dialog-content>
  <p>
      Aceptación de los lineamientos del uso de nuestra plataforma de ventas por medios electrónicos Declaro y acepto que no usaré
      esta plataforma de manera inadecuada contraviniendo los principios de la buena fe en la contratación. Asimismo, acepto
      y reconozco que la presente plataforma está diseñada para la contratación del SOAT Digital a través de medios electrónicos,
      por lo que, solo podré utilizarla en calidad de Contratante del producto objeto de adquisición y no por actos de
      terceras personas y/o con fines diferentes a la contratación de una Póliza de Seguro. De la misma manera, acepto
      que no interferiré ni alteraré el servicio que brinda la compañia, incluyendo la comercialización de los productos
      por este canal, ni intentaré acceder a ellos usando un método distinto a las instrucciones proporcionadas por la compañia.
      Acepto que solo podré usar la plataforma en la medida en que la ley lo permita, por lo que, declaro bajo juramento,
      en mi calidad de Contratante, ser mayor de edad y contar con interés asegurable para la adquisición del SOAT Digital.
      Asimismo, acepto expresamente que la compañía está plenamente facultada para suspender o cancelar el uso de esta plataforma,
      por ende, la contratación del SOAT Digital, siempre que mi persona no haya cumplido con las políticas aquí expuestas
      o si la compañia considera que mi conducta puede ser de mala fe en la contratación. Declaro conocer que el uso de la
      plataforma no me convierte en titular de ninguno de los derechos de propiedad intelectual, ni del contenido al que
      acceda, ni me otorga el derecho a usar las marcas ni los logotipos utilizados por la compañia. Finalmente, me obligo a no eliminar, ocultar
      ni alterar los avisos legales que se muestren en la plataforma de ventas por medios electrónicos de la compañia. Asimismo,
      con esta aceptación confirmo la exactitud y veracidad de mis declaraciones expresadas en la presente plataforma,
      indicando que cualquier declaración inexacta y/o reticente donde medie dolo o culpa inexcusable, respecto de circunstancias
      conocidas por mi persona, y que hubiesen impedido la emisión de este SOAT Digital o modificado sus condiciones si
      la compañía hubiese sido informada del verdadero estado del riesgo, hará que se proceda a la nulidad del mismo, o a
      repetir contra el Contratante, el gasto incurrido por la compañia como consecuencia del otorgamiento de las coberturas
      del SOAT Digital, en caso de siniestro. Finalmente, declaro conocer que la forma de envío del SOAT Digital es por
      medios virtuales, y que será remitido a al correo electrónico que he consignado en el proceso de compra. Asimismo,
      otorgo mi consentimiento para que las comunicaciones relacionadas al SOAT Digital, puedan ser remitidas a la misma
      dirección de correo electrónico.
  </p>
</div>