<mat-toolbar color="primary">
  <button mat-button routerLink="/home">
    <mat-icon>
      directions_carsss
    </mat-icon>
    SOAT EN LÍNEA
  </button>

  <span class="example-spacer"></span>
  <button mat-button routerLink="/login">
    <mat-icon>
      login
    </mat-icon>
    Login
  </button>
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
      <mat-icon>help</mat-icon>
      <span>Ayuda</span>
  </button>
  <Button mat-menu-item (click)="prueba()">
    <mat-icon>insert_chart</mat-icon>
    <span>Ventas</span>
  </Button>
</mat-menu>