<mat-card class="soat-card">
  <mat-card-header>
      <div mat-card-avatar class="accentColor">
          <mat-icon>playlist_add_check</mat-icon>
      </div>
      <mat-card-title class="accentColor">Resumen</mat-card-title>
      <mat-card-subtitle>
          Este es el resumen de lo que haz elegido:
      </mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center">
          <div fxLayout="column" fxFlex.xs="100%" fxFlex="55%">
              <mat-list>
                  <mat-list-item class="summary-list-vigencia">
                      <p mat-line class="vigencia-text">SOAT Digital</p>
                      <div mat-line fxLayout="row" class="vigencia-text">
                          <div fxLayoutAlign="start" fxFlex="50%">Inicio de vigencia:</div>
                          <div fxLayoutAlign="end" fxFlex="50%">{{inicioVigencia|date:'dd/MM/yyyy'}}</div>
                      </div>
                      <div mat-line fxLayout="row" class="vigencia-text">
                          <div fxLayoutAlign="start" fxFlex="50%">Fin de vigencia:</div>
                          <div fxLayoutAlign="end" fxFlex="50%">{{finVigencia|date:'dd/MM/yyyy'}}</div>
                      </div>
                      <div mat-line fxLayout="row" class="vigencia-text">
                          <div fxLayoutAlign="start" fxFlex="50%">Placa asegurada:</div>
                          <div fxLayoutAlign="end" fxFlex="50%">{{placa}}</div>
                      </div>
                  </mat-list-item>
                  <mat-list-item>
                      <div mat-line fxLayout="row" class="monto-text">
                          <div fxLayoutAlign="start" fxFlex="50%">Prima Neta</div>
                          <div fxLayoutAlign="end" fxFlex="50%">S/. 63.56</div>
                      </div>
                      <div mat-line fxLayout="row" class="monto-text">
                          <div fxLayoutAlign="start" fxFlex="50%">IGV</div>
                          <div fxLayoutAlign="end" fxFlex="50%">S/. 11.44</div>
                      </div>
                      <div mat-line fxLayout="row" class="monto-text total-text">
                          <div fxLayoutAlign="start" fxFlex="50%">Total a pagar</div>
                          <div fxLayoutAlign="end" fxFlex="50%">S/. 75.00</div>
                      </div>
                  </mat-list-item>
              </mat-list>
              <p>
                  El cobro de la transacción se realizará en nuevos soles. Si la tarjeta es en dólares, el tipo de cambio utilizado será el
                  de tu banco.
              </p>
          </div>
      </div>
  </mat-card-content>

  <mat-card-actions>
      <button class="soat-button" color="accent" mat-raised-button (click)="accept()">Comprar</button>
  </mat-card-actions>
</mat-card>