<mat-card class="soat-card">
    <mat-card-header>
        <div mat-card-avatar class="accentColor">
            <mat-icon>new_releases</mat-icon>
        </div>
        <mat-card-title class="accentColor">Cobertura</mat-card-title>
        <mat-card-subtitle>Te ofrecemos la mejor cobertura del mercado.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row" fxLayout.xs="column">
            <div class="container-aseguradoras">
                <mat-card class="mat-elevation-z5 aseguradora" *ngFor="let aseguradora of aseguradoras">
                    <mat-card-content>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxLayout="column" fxLayoutAlign="center">
                                <div fxLayoutAlign="center">
                                    <img class="image-cobertura" height="120px" src="{{ aseguradora.url }}" alt="logo_cobertura">
                                </div>
                                <br>
                                <span class="prima-name" fxLayoutAlign="center">{{ aseguradora.nombre }}</span>

                                <div class="container-prima">
                                    <span class="prima-text"> Prima Neta:</span> 
                                    <span class="prima-amount"> {{ aseguradora.PRIMA_NETA }}</span>
                                </div>
                                <div class="container-prima">
                                    <span class="prima-text"> Derechos:</span> 
                                    <span class="prima-amount"> {{ aseguradora.DERECHOS }}</span>
                                </div>
                                <div class="container-prima">
                                    <span class="prima-text"> Impuestos:</span> 
                                    <span class="prima-amount"> {{ aseguradora.IMPUESTOS }}</span>
                                </div>
                                <br>
                                <span class="prima-total" fxLayoutAlign="center" style="font-size:25px;font-weight: bold;">S/. {{ aseguradora.PRIMA_TOTAL }}</span>
                                <mat-card-actions>
                                    <button mat-button (click)="onShowPlans(aseguradora)">
                                        <mat-icon>info</mat-icon>
                                        Coberturas
                                    </button>
                                </mat-card-actions>
        
                                <div fxLayoutAlign="center">
                                    <mat-card-actions>
                                        <button class="soat-button" color="accent" mat-raised-button [disabled]="!AceptarPoliticas" (click)="onAccept(aseguradora)">Confirmar</button>
                                    </mat-card-actions>
                                </div>
                            </div>                
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <form>
            <div style="margin-top:20px;">
                <mat-checkbox [(ngModel)]="AceptarPoliticas" name="accept"></mat-checkbox>
                Declaro haber leído y acepto las
                <a class="primaryColor politicas" style="cursor: pointer;" (click)="VerPoliticas()">
            Políticas sobre uso de plataformas de ventas y envío del SOAT Digital por medios electrónicos.
            </a>
            </div>
        </form>
    </mat-card-content>
  </mat-card>