<mat-card class="soat-card" >
    <mat-card-header>
        <div mat-card-avatar class="accentColor">
            <mat-icon>perm_identity</mat-icon>
        </div>
        <mat-card-title class="accentColor">Inicia Sesión </mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <form [formGroup]="loginForm">
            <div fxLayout="column" fxFlex.lg="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutGap="10px">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap.sm="0" fxLayoutGap="10px">
                    <input type="text" formControlName="usuario" placeholder="Ingresa tu email">
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap.sm="0" fxLayoutGap="10px">
                    <input type="password" formControlName="password" placeholder="Ingresa tu contraseña">
                </div>
            </div>
        </form>

    </mat-card-content>
    <mat-card-actions>
        <button class="soat-button" color="accent"  mat-raised-button (click)="onSubmit()">Iniciar Sesión</button>
        <a class="register-link">¿No tienes cuenta? Contactate con el administrador</a>
    </mat-card-actions>
</mat-card>