<mat-card class="soat-card">
    <mat-card-header>
        <div mat-card-avatar class="accentColor">
            <mat-icon>attach_money</mat-icon>
        </div>
        <mat-card-title class="accentColor">Ventas </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <div fxLayout="column" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutGap="10px">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap.sm="0" fxLayoutGap="10px">
                </div>
                
            </div>
        </form>
    </mat-card-content>
</mat-card>