<div mat-dialog-title class="primaryColor">
    Ley 29733 - Ley de Protección de Datos Personales y su Reglamento:
</div>
<div mat-dialog-content>
    <p>
        De conformidad con lo establecido en la Ley N° 29733 - Ley de Protección de Datos Personales y su Reglamento, quien autoriza
        el presente documento, queda informado y da su consentimiento libre, previo, expreso, inequívoco e informado, para
        el tratamiento y transferencia, nacional e internacional de sus datos personales al banco de datos de titularidad
        de nuestra compañia que estará ubicado en sus oficinas a nivel nacional que, conjuntamente con cualquier otro dato que pudiera
        facilitarse a lo largo de la relación jurídica y aquellos obtenidos en fuentes accesibles al público, se tratarán
        con las finalidades de analizar las circunstancias al celebrar contratos, gestionar la contratación
        y evaluar la calidad del servicio. Asimismo, se utilizará los datos personales con fines comerciales, y publicitarios
        a fin de remitir información sobre productos y servicios que considere de su interés. Los datos proporcionados serán
        incorporados, con las mismas finalidades, a nuestras bases de datos y/u otras empresas subsidiarias, filiales,
        asociadas, afiliadas o miembros del Grupo Económico al cual pertenece y/o terceros con los que éstas mantengan una
        relación contractual. Los datos suministrados son esenciales para las finalidades indicadas. Las bases de datos donde
        ellos se almacenan cuentan con estrictas medidas de seguridad. En caso se decida no proporcionarlos, no será posible
        la prestación de servicios por parte de la compañía. Conforme a Ley, el titular de la información está facultado a
        ejercitar los derechos de información, acceso, rectificación, supresión o cancelación y oposición que se detallan
        en la Ley N° 29733 - Ley de Protección de Datos Personales y su Reglamento, mediante comunicación dirigida de la compañía.
    </p>
</div>