.soat-footer {
  padding: 12px;
  font-size: 12px;
  background-color: #3f51b5;
  border-color: #f50057;
  color: hsla(0,0%,100%,.87);
}

.soat-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.soat-footer-copyright p {
  margin: auto;
}



